/* Error: Expected expression.
 *    ,
 * 13 |     background-color: @yellow;
 *    |                       ^
 *    '
 *   css\styles2.less 13:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a    \2577 \a 13 \2502      background-color: @yellow;\d\a    \2502                        ^\a    \2575 \a   css\\styles2.less 13:23  root stylesheet";
}


.banner-principal img {
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
}



.jumbotron {
  width: 100%;
  background-color: #243a3a;
  margin-top: 30px;
}

.jumbotron h1 {
  color: #eff2f3;
}

.box-bakery {
  flex: 1 200px;
  margin-top: 10px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  position: relative;
  bottom: 0px;
  
}

/*Pie de pagina*/
footer {
  width: 100%;
  background-color: #3d4d46;
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
  margin-top: 20px;
}

footer a {
  color: #eff2f3;
}

address {
  color: #eff2f3;
}

address p {
  height: 10px;
}

.footer-icon {
  padding-right: 5px;
}

/*seccion*/
.box-pan img {
  width: 250px;
  height: 300px;
}

#boxes .box {
  margin-top: 25px;
  margin-bottom: 25px;
}

#boxes .box img {
  width: 100%;
  height: 350px;
}

#boxes .box h4 {
  width: 100%;
  margin-top: 5px;
}
#boxes .box {
  border: solid 5px #25242199;
  height: 413px;
}

#boxes .box img {
  transition: all 350ms;
  margin-top: 10px;
}

#boxes .box img:hover {
  transform: scale(1.1);
  transition: all 350ms;
}

#boxes .box h4 {
  background-color: #25242199;
}

#boxes .box h4 a {
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-family: font-family-h2;
  font-weight: bold;
}

#boxes .box h4 a:hover {
  background: #c8ccd3;
  transition: all 350ms;
}


.tab-content {
  padding-top: 10px;
}