$yellow: #fafaac;
$black: #0d0d0c;
$verde: #3d4d46;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
  
}

.banner-principal img {
    width: 100%;
    height: 450px;
    @include margenes(50px, 0px);
}

.jumbotron {
    width: 100%;
    background-color: $verde;
    @include margenes(30px, 0px);
}

.jumbotron h1 {
    color: $black;
}

.box-bakery {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    position: relative;
    bottom: 0px;
    
}

/*Pie de pagina*/
footer {
    width: 100%;
    background-color: $verde;
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    margin-top: 20px;
}

footer a {
    color:$black;
}

address {
    color: $black;
}

address p {
    height: 10px;
}

.footer-icon {
    padding-right: 5px;
}

/*seccion*/
.box-pan img {
    width: 250px;
    height: 300px;
}

#boxes .box {
    margin-top: 25px;
    margin-bottom: 25px;
}

#boxes .box img {
    width: 100%;
    height: 350px;
}

#boxes .box h4 {
    width: 100%;
    margin-top: 5px;
}
#boxes .box {
    border: solid 5px #25242199;
    height: 413px;
}

#boxes .box img {
    transition: all 350ms;
    margin-top: 10px;
}

#boxes .box img:hover {
    transform: scale(1.1);
    transition: all 350ms;
}

#boxes .box h4 {
    background-color: #25242199;
}

#boxes .box h4 a {
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-family: font-family-h2;
    font-weight: bold;
}

#boxes .box h4 a:hover {
    background: #c8ccd3;
    transition: all 350ms;
}


.tab-content {
    padding-top: 10px;
}

